@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.button {
    background-color: #b645a7; /* Green */
    border: 2px solid #752D6C;
    border-radius: 15%;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    // display: inline-block;
    font-size: 16px;
    justify-content: center;
    cursor:pointer;
  }
  
  .container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    .app-root {
        text-align: center;
    }

    .texto {
      color: black;
    }

    .lyrics {
      color: white;
      font-family: "Montserrat Medium";
      max-width: 40ch;
      text-align: center;
      transform: scale(0.94);
      animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    }
}

//IMAGE ANIMATION

@keyframes crossFade{
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}

#cf img{
  position:absolute;
  left:0;
  opacity: 0;
  animation-name: crossFade;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
#cf img:nth-last-of-type(1){
  animation-delay: 0s;
}
#cf img:nth-last-of-type(2){
  animation-delay: 2.5s;
 
}

// LYRICS

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Montserrat Medium";
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.95s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: fade-in 0.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

// span:nth-child(14) {
//   animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
// }

// span:nth-child(15) {
//   animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
// }

// span:nth-child(16) {
//   animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
// }

// span:nth-child(17) {
//   animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
// }

// span:nth-child(18) {
//   animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
// }

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}


span {
  margin: 5px;
}